<!DOCTYPE html>
<html lang="ru" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>MySkie Minecraft Server</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="mainController" ng-init="init()">
<nav ng-style="{filter: !showSpinnerStatus ? 'brightness(1)':'brightness(0.5)'}">
    <p class="navbar-brand">MySkie Squad - 143.47.183.17:25565</p>

    <div class="collapse" id="navbarSupportedContent">
        <button class="btn" name="modsDownloadButton" type="submit" onclick="window.location='https://github.com/LaniMoon/minecraft-myskie-mods-repo'"
                ng-disabled="showSpinnerStatus">
            Download all actual
            mods
        </button>
    </div>
</nav>
<div class="panel"
     ng-style="{filter: !showSpinnerStatus ? 'brightness(1)':'brightness(0.5)'}">
    <div class="panel-body">Server status:</div>
    <ul class="list-group" ng-model="server">
        <li>
            Status:
            <span class="badge badge-primary badge-pill" ng-style="{color: serverStatus === 'ON'? '#00AA00':'#f54242'}">{{server.status}}</span>
        </li>
        <li ng-show="serverStatus === 'ON'">
            Players on server:
            <span class="badge badge-primary badge-pill">{{server.playersCount}}/{{server.maxPlayersCount}}</span>
        <li ng-show="serverStatus === 'ON'">
            Players:
        <li class="player" ng-repeat="player in server.players"
            ng-show="serverStatus === 'ON'">{{player}}
        </li>
        </li>
        </li>
    </ul>
    <br>
    <div class="mods">Actual mods:</div>
    <ul class="list-group">
        <li class="mod" ng-repeat="mod in server.mods" ng-click="loadMod(mod)">{{mod}}
        </li>
    </ul>
</div>
<div ng-if="showSpinnerStatus" class="loader"></div>

<script src="js/lib/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/service/modsService.js"></script>
<script src="js/service/serverService.js"></script>
<script src="js/controller/mainController.js"></script>
</body>
</html>