@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #454545;
    z-index: -1;
}

body::-webkit-scrollbar {
    display: none;
}

li {
    list-style-type: none;
}

/*Navigation panel*/

nav {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    top: 0;
}

div.collapse {
    position: absolute;
    top: 33%;
    right: 10px;
}

p.navbar-brand {
    position: absolute;
    margin: 0;
    top: 33%;
    left: 10px;
    font-size: 24px;
}

button.btn {
    top: 33%;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid #00AA00;
    transition: background 250ms, color 250ms;
}

button.btn:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.75);
}

/*Server status & actual mods element*/

div.panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 120px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 12px;
}

/*Server status list*/

div.panel-body {
    font-size: 24px;
    color: #00AA00;
}

ul.list-group {
    font-size: 18px;
    left: 0;
    right: 0;
}

.list-group li {
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #00AA00;
    border-radius: 12px;
    transition: background 250ms, color 250ms;
}

span.badge {
    position: absolute;
    right: 47%;
    text-align: right;
}

li.player {
    width: 46%;
    margin-left: 5%;
}

/*Actual mods list*/

div.mods {
    font-size: 24px;
    color: #00AA00;
}

.mod:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.75);
}

/*Progress Bar*/

.loader {
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #000;
    border-top: 16px solid #00AA00;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}